*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*=================Nav Start================*/
.topbar{
    padding: 10px;
    background-color: #f82b60;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

nav{
    display: flex;
    width: 100%;
    /* padding: 10px 0 10px 0; */
    height: 50px;
    font-family: sans-serif;
    position: absolute;
    background-color: white;
    align-items: center;
}

.logo{
    /* background-color: rgb(255, 0, 242); */
    width: 15%;
}
.logo a{
    text-align: end;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    color: black;
    gap:5px;
}
.logo img{
    height: 40px;
}
.navlist{
    display: flex;
    /* justify-content: space-around; */
    width: 40%; 
    /* background-color: rgb(238, 255, 0); */
    padding: 10px;
    gap: 50px;
    font-size: 16px;
    color: black;
}
.navlist li a{
    color: black;
}

.contact{
    display: flex;
    width: 30%;
    /* background-color: rgb(60, 255, 0); */
    justify-content:flex-end;
    gap: 50px;
    font-size: 16px;
    align-items: center;
}
.signup-btn{
    width: 20%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-signup{
    background-color: rgb(81, 106, 158);
    color: white;
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    height: 30px;
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* display: none; */
}
.hamburger .line1{
    height: 3px;
    width: 30px;
    background-color: black;
}

.hamburger .line2{
    height: 3px;
    width: 30px;
    background-color: black;
}

/* Responsive Nav */

@media screen and (max-width:600px){
    nav{
        justify-content: space-between;
    }
    .logo{
        width: 100%;
    }
    .logo a{
        justify-content: flex-start;
    }
    .signup-btn{
        width: 100%;
        justify-content: flex-end;
    }
    .hamburger {
        display: block;
        width: 100%;
    }
    .navlist{
        position:absolute;
        flex-direction: column;
        background-color: rgb(141, 83, 83); 
        width: 100%;
        top: 50px;
        /* display: none; */
    }
    .contact{
        display: none;
    }
}

/*=================Nav End=================*/

.slider img{
    height: 100%;
    width: 100%;
    
}
.slider .title{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-family: sans-serif;
}
.slider .title h1{
    font-size: 52px;
 }
.slider .title p{
   font-size: 22px;
   margin-top: 10px;
   font-weight: bolder;
}
.slider .title button{
    font-size: 22px;
    width: 220px;
    padding: 10px;
    background-color: turquoise;
    border: none;
    border-radius: 50px;
    color: white;
    margin-top: 10px;
 }
 /*Responsive*/
@media screen and(max-width:600px){
    .slider .title h1{
        font-size: 52px;
     }
     .slider{
         height: 500px;
     }
     .slider img{
         height:100%;
     }
}
 
 /* ======================= Main ======================= */

 .brands{
     padding: 50px;
     line-height: 2;
 }
 .brands p{
    text-align: center;
    font-size: 24px;
 }
 .band-logos{
     display: flex;
     justify-content: center;
     gap:25px;
     font-size: 28px;
     color: rgb(126, 126, 126);
 }

 /*-----------Intro----------*/
 .intro .row1{
     display: flex;
     padding-top: 50px;
     justify-content: space-around;
 }
.intro .row2{
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}
.intro .row3{
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}
  .intro .col-3{
    text-align: right;
  }
  
 .row1 .col-1 , .row3 .col-5{
    text-align: center;
    width: 60%;
 }
 .row1 .col-2 , .row3 .col-6{
    width: 40%;
 }
 .row2 .col-3{
    width: 40%;
 }
 .row2 .col-4{
    width: 60%;
    text-align: center;
 }
 .row3 .col-5{
    text-align: center;
 }
 .row2 .col-4{
    text-align: center;
 }

.intro .row1 .col p:nth-child(1) {
    font-family: sans-serif;
    color: rgb(18,131,218);
    font-size: 46px;
    margin-top: 10px;
}
.intro .row2 .col p:nth-child(1){
    font-family: sans-serif;
    color: rgb(239,48,97);
    font-size: 46px;
    margin-top: 10px;
}
.intro .row3 .col p:nth-child(1){
    font-family: sans-serif;
    color: rgb(124,57,237);
    font-size: 46px;
    margin-top: 10px;
}

.intro .row1 .col p:nth-child(2),.intro .row2 .col p:nth-child(2),.intro .row3 .col p:nth-child(2){
    /* font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'; */
    color: #666666;
    font-family: sans-serif;
    font-size: 28px;
    margin-top: 10px;
}

.intro .row1 .col button ,.intro .row2 .col button,.intro .row3 .col button{
    font-family: sans-serif;
    color: rgb(18,131,218);
    background-color: transparent;
    font-size: 26px;
    padding: 10px;
    border: 1px solid rgb(18,131,218);;
    border-radius: 50px;
    margin-top: 10px;
}

.intro .col video{
    /* height: 400px; */
    width: 90%;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 50px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 50px -18px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 50px -18px rgba(0,0,0,0.75);
}


/*Responsive*/

@media screen and (max-width:600px){
    .intro .row1{
        /* display: flex;
        padding-top: 50px; */
        flex-direction: column;
    }
    .intro .row1{
        /* display: flex;
        padding-top: 50px; */
        flex-direction: column;
    }
    .intro .row2{
        /* display: flex;
        padding-top: 50px; */
        flex-direction: column-reverse;
   }
   
   .intro .row3{
         /* display: flex;
        padding-top: 50px; */
        flex-direction: column;
   }
   .row1 .col-1 , .row3 .col-5{
    text-align: center;
    width: 100%;
    }
    .row2 .col-4{
        width: 100%;
        text-align: center;
    }
    .row1 .col-2 , .row3 .col-6{
        width: 90%;
        margin-left: 5%;
    }
    .row2 .col-3{
        width: 90%;
        margin-left:5%;
    }
 
    .intro .col-3{
        text-align: left;
    }
}


 /* ======================= FOOTER Start======================= */

 footer{
     padding: 100px 50px 100px 50px;
     display: flex;
     justify-content: space-around;
     font-family: sans-serif;
 }

 footer div ul{
    display: flex;
    flex-direction: column;
    gap:15px;
 }

 footer .col-1 img{
     height: 50px;
}

 footer .col-5{
    display: flex;
   margin-top:0;
   flex-direction: column;
   justify-content: space-between;
}
 
footer div li a{
    color: rgb(126, 126, 126);
    text-decoration: none;
    position:relative;
}

footer div li a::after{
    content:'';
    display: block;
    height: 2px;
    background: #d6d6d6;
    position:     absolute;
    left:         0;
    right:        0;
}

footer div li a:hover::after{
    background: #242424;
    opacity: 0.8;
}

footer div li #hiring{
    color: rgb(60, 126, 180);
    position:relative;
}
footer div li #hiring:hover{
    color: blue;
}

footer div li #hiring::after{
    content:'';
    display: block;
    height: 2px;
    background-color: rgb(60, 126, 180);
    position:     absolute;
    left:         0;
    right:        0;
}
footer div li #hiring:hover::after{
    background-color: blue;
}
.col-5 .row-1 li:nth-child(2){
    font-size: 14px;
    color: rgb(126, 126, 126);
}

.col-5 .row-2 li:nth-child(3){
    font-size: 12px;
    color: rgb(126, 126, 126);
}

/*Responsive*/
@media screen and(max-width:600px){
    footer{
        padding: 100px 50px 100px 50px;
        /* display: flex;
        justify-content: space-around;
        font-family: sans-serif; */
        flex-direction: column;
    }
    footer div{
        margin-top: 50px;
    }
    footer .col-5 ul{
        margin-top: 20px;
    }
}
 /* ======================= FOOTER End======================= */