body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/*=================Nav Start================*/

.topbar{
    padding: 10px;
    background-color: #f82b60;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

nav{
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
}
.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: black;
    font-size: 26px;
}
.logo img{
    height: 50px;
}
.navlist{
    display: flex;
    justify-content: space-around;
    width:80% ;
}

.navlist ul {
    display: flex;
    gap: 30px;
    align-items: center;
}
.navlist ul li a{
    color: black;
}
#nav-signup{
    background-color: rgb(95, 121, 194);
    padding: 10px;
    color: white;
    border-radius: 50px;
    border: none;
}
.line-one{
    height: 2px;
    width: 25px;
    background-color: rgb(0, 0, 0);
}
.line-two{
    height: 2px;
    width: 40px;
    background-color: rgb(0, 0, 0);
}

.burger-menu{
    display: none;
}


@media screen and (max-width: 720px) {
    .topbar{
        display: none;
    }
    nav{
        justify-content: space-between;
    }
    .logo{
        width: 50%;
    }
    .navlist{
        position: absolute;
        flex-direction: column;
        top: 50px;
        align-items: left;
        width: 100%;
        background-color: white;
        justify-content: space-evenly;
        /* padding: 20PX 0 20PX 0; */
        height: 100%;
        transform: translateY(-120%);
        border-top: 1px solid rgba(212, 212, 212, 0.397);
        font-size: 20px;
    }
    .open{
        transform: translateY(0%);
        /* transition: transform 0.5s ease-out; */;
    }
    .over{
        overflow-y: hidden;
    }
    .navlist ul{
        flex-direction: column;
        align-items: left;
    }
    .navlist ul:nth-child(2) li:nth-child(1){
        display: none;
    }
    .burger-menu{
        display: block;
        width: 20%;
    }

    .line-two{
        margin-top: 10px;
    }
}

@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}
/*=================Nav End=================*/

.font-family{
    
        font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
        letter-spacing: .01em;
        -webkit-font-smoothing: antialiased;
        font-feature-settings: 'calt' 0;
    
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(255,255,255);
}
.h-btn{
    background-color: #2d7ff9;
    padding-bottom: 25px;
}
.body-container{
    padding: 40px;  
}
/* pricing style */
#pricing-layout{
     
    gap:15px;
    height: 2400px;
     /* /* border-radius: 5px; */
}
#pricing-layout>div:nth-child(3){ 
    height: 180px;
}
#pricing-layout h1{
    font-size: 20px;
    text-align: center;
}
#pricing-layout h3{

    color: grey;
}
#simple-pricing-cont{
    height:50px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
   
}
.simple-pricing{
   height: 100%;
    width: 40%;
    /* border: 1px solid grey; */
}
.free{
    height: 100%;
    width: 14%;
    margin-left: 1%;
    /* border: 1px solid grey; */
}
.pro{
    height: 100%;
    width: 14%;
    margin-left: 1%;
    /* border: 1px solid grey; */
    background: cadetblue;
}

.plus{
    height: 100%;
    width: 14%;
    margin-left: 1%;
    /* border: 1px solid grey; */
    background: burlywood;
}
.enterprise{
    height: 100%;
    width: 14%;
    margin-left: 1%;
    background: black;
    color: white;
    /* border: 1px solid grey; */
}
#pricing-layout img{
    width: 25%;
    height: 20%;
    text-align: center;
}
#compny-pic-cont{
    display: flex;
    height: 80px;
    flex-direction: row;
    color: grey;
    /* background-color: rgb(190, 184, 184); */
    /* border: 1px solid red; */
    margin: 2%
}
#compny-pic-cont>div{
    width: 15%;
    height: 100%;
    /* border: 1px solid black; */
    text-align: center;

    padding-bottom: 10px;
    margin-left: 5%;
}
#compny-pic-cont>div>div{
    width: 55%;
    height: 100%;
    /* border: 1px solid black; */
    text-align: center;
    float: left;
    font-size: 16px;
  
    padding-bottom: 10px;
    margin-left: 5%;
}
#compny-pic-cont>div>div:nth-child(1){
    width: 30%;
    padding-top: 20px;
    height: 60%;
    /* border: 1px solid black;
    text-align: center; */

    padding-bottom: 10px;
    margin-left: 5%;
}
#compny-pic-cont img{
    width: 100%;
    height: 100%;
    text-align: right;
}
#billing-cont>div>div{
    width: 37%;
    height: 30px;
    /* /* border:1px solid red; */
    float: left; 
    /* text-align: center; */
    padding-left: 15x;
     color: grey;
    margin-left: 10%;
    margin-bottom: 2%;
 
}
#billing-cont>div>div:nth-child(1){
    text-align: right;
    padding-right: 15px;
}
#question-cont{
    height: 1000px;
    /* border: 1px solid red; */
}
mark{
    color: blue;
    background: none;
}
#question-cont>div>div{
    height: 40%;
    width: 28%;
    float: left;
    margin: 2%;
    /* border: 1px solid green; */
}
#question-cont p{
    color: grey;
}
footer{
     padding: 50px 50px 100px 50px;
     display: flex;
     justify-content: space-around;
     font-family: sans-serif;
 }
 footer div ul{
    display: flex;
    flex-direction: column;
    gap:15px;
 }
 footer .col-1 img{
     height: 50px;
}
 footer .col-5{
    display: flex;
   margin-top:0;
   flex-direction: column;
   justify-content: space-between;
}
footer div li a{
    color: rgb(126, 126, 126);
    text-decoration: none;
    position:relative;
}
footer div li a::after{
    content:'';
    display: block;
    height: 2px;
    background: #D6D6D6;
    position:     absolute;
    left:         0;
    right:        0;
}
footer div li a:hover::after{
    background: #242424;
    opacity: 0.8;
}
footer div li #hiring{
    color: rgb(60, 126, 180);
    position:relative;
}
footer div li #hiring:hover{
    color: blue;
}
footer div li #hiring::after{
    content:'';
    display: block;
    height: 2px;
    background-color: rgb(60, 126, 180);
    position:     absolute;
    left:         0;
    right:        0;
}
footer div li #hiring:hover::after{
    background-color: blue;
}
.col-5 .row-1 li:nth-child(2){
    font-size: 14px;
    color: rgb(126, 126, 126);
}
.col-5 .row-2 li:nth-child(3){
    font-size: 12px;
    color: rgb(126, 126, 126);
}
.pricing-layout{
    
    margin: 30px;
    padding-top: 50px;
}
.free{
    text-align: center;
}
.plus{
    text-align: center;
}
.pro{
    text-align: center;
}
.enterprise{
    text-align: center;
}
#free{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 30px;
    line-height: 30px;
}
#pro{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 10px;
}
#plus{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 10px;
}
#enterprise{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.bg-white{
    background-color: #ffffff;
    font-weight: 500;
}
.font-weight-500{
    font-family: 'GT Eesti Display',
    -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,
    'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-transform: uppercase;
}
.color-black{
    color: #000;
}
.small-size{
    font-size: 14px;
    margin-top: -18px;
}
.margin-top-40{
    margin-top: 40px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 14px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .product-content1{
      width: 100%;
      height: 500px;
      background-color: #2d7ff9;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .product-content1 h1{
    width: 80%;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
  }

  .product-content2{
    width: 100%;
    height: 500px;
    background-color: #2d7ff9;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-pill-btn{
      padding-left: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 40px;
      border-radius: 50px;
      outline: none;
      border: none;
      font-size: 18px;
      font-size: 900;
      color: #2d7ff9;
      margin-bottom: 40px;
      margin-top: 40px;
  }
  .product-pill-btn a{
    text-decoration: none;
    color: #2d7ff9;
  }
  .product-pill-btn-p{
      width: 300px;
      width: 300px;
      text-align: center;
      font-size: 14px;
  }
  .collabrate-with-any{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-items: center;
      /* margin: 50px; */
  }
  .collabrate-with-any-content-1{
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 50px;
  }
  .collabrate-with-any-content-1 h1{
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'calt' 0;
    font-weight: 500;
  }
  .collabrate-with-any-content-1 p{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
    font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'calt' 0;

  }
  .collabrate-with-any-content-1 a{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'calt' 0;
    color: #054ebb;
    text-decoration: underline;
    line-height: 20px;

  }
  .collabrate-with-any-content-2{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 500px;
    padding: 50px;
}
.product-nav ul{
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    position: sticky;
    top: 60;
    
}
.product-nav>ul>li{
    padding-left: 30px;
}
.social{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin: 50px; */
}
.social-content-1{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 50px;
    padding-right: 150px;
}
.social-content-1 h1{
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt' 0;
  font-weight: 500;
}
.social-content-1 p{
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: gray;
  font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt' 0;

}
.social-content-1 a{
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt' 0;
  color: #054ebb;
  text-decoration: underline;
  line-height: 20px;

}
.social-content-2{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 500px;
  padding: 50px;
}
.arbitale-sync-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center; 
}
.arbitale-sync-content-1{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 600px;
    padding: 50px;
  }
  .arbitale-sync-content-2 {
      padding: 50px;
  }
.arbitale-sync-content-2 span{
background-color: #f82b60;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
color: #ffffff;
border-radius: 30px;
margin-bottom: 40px;
}


.arbitale-sync-content-2 h1{
    
font-size: 40px;
padding-top: 50px;
padding-bottom: 50px;
font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  letter-spacing: .01em;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt' 0;
}
.arbitale-sync-content-2 p{
    font-size: 20px;
    font-family: 'GT Eesti Display',-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
      letter-spacing: .01em;
      -webkit-font-smoothing: antialiased;
      font-feature-settings: 'calt' 0;
      color: gray;
    }